<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter" />
  </configSections>
  <CustomConfiguration>
    <urls>
      <add virtualUrl="~/news/([\d]+).html" destinationUrl="~/news/detail.aspx?id=$1" />
      <add virtualUrl="~/tag_([\d]+)(/)?" destinationUrl="~/news/list.aspx?tag=$1" />
      <add virtualUrl="~/oldnews/([\d]+).html" destinationUrl="~/news/olddetail.aspx?id=$1" />
      <add virtualUrl="~/ctloves_ring.html" destinationUrl="~/diamondring_list.aspx" />
    </urls>
  </CustomConfiguration>
  <QQSectionGroup>
    <QzoneSection>
      <!--qq第三方登陆 begin-->
      <add key="AppKey" value="101139846" />
      <add key="AppSecret" value="e5e9666221ea5a4e3b71f3bca7111f38" />
      <add key="CallBackURI" value="http://m.CTloves.com/Account/dr_QQCallBackURL.aspx" />
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
      <!--qq第三方登陆 end-->
    </QzoneSection>
  </QQSectionGroup>
  <appSettings>
    <add key="alipay_account" value="ctzhifu@ctloves.com" />
    <add key="alipay_partner" value="2088041962971630" />
    <add key="alipay_key" value="is3uqrka6wdxulagyu9fa9tz41elvstv" />
    <add key="alipay_sitename" value="CTloves珠宝" />
    <add key="compWeb" value="" />
    <!--公司官网-->
    <add key="imgWeb" value="http://img.CTloves.com" />
    <add key="CHINA_PAY_PAY_KEY_PATH" value="D:\MerPrK_808080201302448_20130910152856.key" />
    <add key="CHINA_PAY_QT_KEY_PATH" value="D:\PgPubk.key" />
    <add key="check" value="cookie" />
    <!--选择用户信息存储方式-->
    <!--新浪微博登陆  begin-->
    <add key="sinaAppKey" value="346612183" />
    <add key="sinaAppSecret" value="51cdec056f2b2790ae5572c182ad2c88" />
    <add key="sinaCallbackUrl" value="http://m.CTloves.com/Account/SinaCallBackURL.aspx" />
    <!--新浪微博登陆  end-->
    <add key="OrdersGenerated" value="CTloves珠宝：您好，您在CTloves珠宝的订单已经生成，请您及时支付生效以免影响您使用。【CTloves珠宝】" />
    <!--订单生成-->
    <add key="OrdersPayment" value="CTloves珠宝：您好，您在CTloves珠宝订单已经付款成功，请您耐心等待，我们会尽快给您制作发货。期间有任何问题随时跟我们联系。感谢您的支持。【CTloves珠宝】" />
    <!--注册验证 0手机验证码-->
    <add key="RegVerification" value="CTloves珠宝：您于{0}申请了手机号码注册，您的验证码是：{1}，有效时间是5分钟。【CTloves珠宝】" />
    <!--找回密码验证 0手机验证码-->
    <add key="FindPwdVerification" value="CTloves珠宝：您于{0}申请了找回密码，您的验证码是：{1}，有效时间是5分钟。【CTloves珠宝】" />
    <!--跨域-->
    <add key="crossdomain" value="" />
    <!--短信企业ID-->
    <add key="SMSUserID" value="10291" />
    <!--短信账号-->
    <add key="SMSAccount" value="" />
    <!--darry2-->
    <!--短信密码-->
    <add key="SMSPwd" value="0107DrkJdX_" />
    <!--Memcached地址-->
    <add key="memcachedAddress" value="127.0.0.1" />
    <!--Memcached端口-->
    <add key="memcachedPort" value="11211" />
    <!--APPKEY-->
    <add key="appkey" value="CBC8F306-3F78-983B-1D0D-C75EEC1754AE" />
    <!--微信appid-->
    <add key="weixin_appid" value="wx61f1db82742a646e" />
    <!--微信appsecret-->
    <add key="weixin_appsecret" value="44fcee0f4ef7da41ee84747427a3ca1d" />
    <!-- 微信支付V3 -->
    <add key="TenPayV3_MchId" value="1607289327" />
    <add key="TenPayV3_Key" value="7gDE1tF9JxGekVhhcH7cGf1eEpPgJokT" />
    <add key="TenPayV3_AppId" value="wxe5adb0706c3cea37" />
    <add key="TenPayV3_AppSecret" value="qaOttsVf1cm8l6wTa68VhvrAiEK5dF4B" />
    <add key="TenPayV3_TenpayNotify" value="http://mdev.ctloves.com/pay/alipay_pay/return_url.aspx" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="DarryJewelryEntities" connectionString="metadata=res://*/DrMobile.csdl|res://*/DrMobile.ssdl|res://*/DrMobile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SJXBAK\DRUAT;initial catalog=DarryJewelry;persist security info=True;user id=sa;password=sql;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DarryJewelryEntities" connectionString="metadata=res://*/DrMobile.csdl|res://*/DrMobile.ssdl|res://*/DrMobile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DarryJewelry2;persist security info=True;user id=sa;password=123.com.cn;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DarryJewelryEntities" connectionString="metadata=res://*/DrMobile.csdl|res://*/DrMobile.ssdl|res://*/DrMobile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=idloves;persist security info=True;user id=sa;password=ctloves_123_;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule" />
    </httpModules>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="Off">
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="mindex.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="urlrewriter" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="File" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="http://www.ctloves.com/404.html" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="http://www.ctloves.com/404.html" responseMode="Redirect" />
      <error statusCode="401" prefixLanguageFilePath="" path="http://www.ctloves.com/404.html" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="http://www.ctloves.com/404.html" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="http://www.ctloves.com/500.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.CommandLine" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventLog" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Debug" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>